#titulo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}
.card-img-top{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}

element.style {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.asesoria .row .col-sm-6 .card {
  border: none;
}
.asesoria .row .col-sm-6 .card .card-body > img {
  display: flex;

  border-radius: 150rem;
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
  border-color: #2ac91e;
}

.asesoria .row .col-sm-6 .card .card-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.asesoria .col-sm-6 .card .card-body .card-text {
  padding: 3rem;
  margin: 1rem;
  background-color: #ddd;
  border-radius: 28px;
  border-bottom: 2.5px solid #2ac91e;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.row {
  --bs-gutter-x: 0;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
