.infoempresa {
  display: flex;
}

footer h2 {
  color: white;
  font-size: 25px;
}

footer {
  position: relative;
  bottom: 0px;
  margin: 0;
}

.footers>div {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

a img {
  width: 40px;
}

.footers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1a3400;
  color: white;
  font-size: 25px;
}



.footers .datosempresa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  font-size: 17.6px;
  color: white;

}

@media(min-width: 768px) {
  .datosempresa {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
.d-flex{
margin-left: 1.5rem;
}

@media(min-width: 768px){
  .redessociales{
    margin-right: 1rem;
    column-gap: 1rem;
  }
    
}
.redessociales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  flex-direction: row;
  margin-left: 2.5rem;
}

.redessociales i {
  font-size: 50px;
  border-spacing: 10px;
  margin-left: 5px;
  margin-right: 5px;
  
}


@media (min-width: 767.98px) {
  footer {
    position: relative;
    bottom: -0.9rem;
    margin: 0;
  }
}
