/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar {
  background-color: #006600;
}

.navbar img {
  width: auto;
  height: 90px;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  background-color: rgb(29, 63, 42);
  color: #fff !important;
}

.nav-link,
Link {
  font-size: 17.6px;
}

@media (min-width: 992px) {
  .offcanvas {
    max-width: 60% !important;
  }
}
